<li id="notes-<%= note.id  %>">
  <div class="col-md-6">
    <% if not note.title  %>
      <%= link_to "No title" , note %>
    <% else %>
      <%= link_to simple_format(note.title) , note %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= link_to "show", note_path(note), class: "btn btn-primary btn-xs" %>
    <%= render 'buttons_show', object: note %>
  </div>
  <div class="col-md-3">
    <div class="timestamp">(posted: <%= time_ago_in_words(note.created_at) %> ago)</div>
  </div>
</li>
 
