<% provide :title, "Edit note" %>
<h1>Update note</h1>
<div class="row">
  <div class="col-md-12">
    <%= form_for @edit_note do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
	<%= f.text_field :title, maxlength: 255 %>
      </div>
      <div class="field">
	<%= f.text_area :content, rows: 12, maxlength: 10000 %>
      </div>
      <%= f.submit "Update", class: "btn btn-primary" %>
      <div class="cancel">
	<%= link_to "Cancel, return to note", @edit_note, class: "btn" %>
      </div>
    <% end %>
</div>
 
