<%= provide :title, "New nNotes" %>

<div class="row">
  <div class="col-md-12">
    <%= form_for @new_note do |f| %> 
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
	<%= f.text_field :title,  maxlength: 255, placeholder: "Note title..." %>
      </div>
      <div class="field">
	<%= f.text_area :content, rows: 8, maxlength: 10000, placeholder: "Compose new note..." %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
 
